#import os
#From Cheetah.Template import Template
#from Cheetah.Filters import Markdown

#import WikiRoot
#extends WikiRoot.WikiRoot

#attr PathPrefix = '../'
#attr ExecuteContentPath = 'recipes/content/'
#attr HyperlinkContentPath = 'content/'

#def pagename()
    #return 'Recipes'
#end def

#def content()
#transform Markdown
Cheetah Recipes
===============

Here are the available recipes thus far:

#for dirpath, dirnames, filenames in $os.walk($ExecuteContentPath)
    #for file in filenames
        #if file.endswith('.markdown') and $generateRecipePage($file)
* [${file.replace('_', ' ').replace('.markdown', '')}](${HyperlinkContentPath}${file.replace('.markdown', '.html')})
        #end if
    #end for
#end for 


If you're really hungry for some Cheetah recipies, you can check out the 
out-of-date [Cheetah recipes page](http://wiki.cheetahtemplate.org/cheetah-recipes.html?) 
from the old Wiki
#end def

#def generateRecipePage(filepath)
    #set fd = $open('%s%s' % ($ExecuteContentPath, $filepath), 'r')
    #set content = $fd.readlines()
    #silent $fd.close()
    #set tmpl = Template('''
#import Cheetah.Filters
#from Cheetah.Filters import Markdown
#import WikiRoot
#extends WikiRoot.WikiRoot
#attr PathPrefix = '../../'
#def pagename()
    #return $PageName
#end def

#def content
#transform Markdown
%s
#end def
    ''' % (''.join($content)), searchList=[{'PageName' : $filepath.replace('.markdown', '')}])
    #set fd = open('%s%s' % ($ExecuteContentPath, $filepath.replace('.markdown', '.html')), 'w')
    #silent fd.write(unicode(tmpl).encode('utf-8'))
    #silent fd.close()
    #return True
#end def

