#import WikiRoot
#from Cheetah.Filters import Markdown
#extends WikiRoot.WikiRoot

#def pagename()
    #return 'Recipes'
#end def

#def content()
#transform Markdown
Cheetah Recipes
===============

This page hasn't been fully fleshed out unfortunately :(

If you're really hungry for some Cheetah recipies, you can check out the 
out-of-date [Cheetah recipes page](http://wiki.cheetahtemplate.org/cheetah-recipes.html?) 
from the old Wiki
#end def
