#import WikiRoot
#from Cheetah.Filters import Markdown
#extends WikiRoot.WikiRoot

#def pagename()
	#return 'Community'
#end def

#def content()
#transform Markdown
Cheetah Community
=====================

Mailing List
------------
The majority of Cheetah discussions occur on the [Cheetah mailing list](http://lists.sourceforge.net/lists/listinfo/cheetahtemplate-discuss).
Once you've subscribed to the Cheetah mailing list, you can just send an email to **cheetahtemplate-discuss@lists.sourceforge.net**


IRC
---
You can also find Cheetah on [Freenode](http://freenode.net) in the **\#Cheetah** IRC channel. The channel is currently low traffic, so if there
is nobody available to answer your questions on IRC, you may be better served pinging the mailing list.

#end def
