#import WikiRoot
#extends WikiRoot.WikiRoot

#def pagename()
	#return 'Home'
#end def

#def content()
Welcome to the Community Cheetah Wiki
-------------------------------------

This page was generated via the Cheetah.Filter.Markdown class and the Home.tmpl template 
in the "wiki" branch.
#end def
