#import WikiRoot
#from Cheetah.Filters import Markdown
#extends WikiRoot.WikiRoot

#def pagename()
	#return 'Roadmap'
#end def

#def content()
#transform Markdown
Community Cheetah Roadmap
=========================

Overview
--------
The general intention of this document is to outline planned
development for Community Cheetah


Cheetah v2.2
------------
The v2.2 release of the Cheetah is a minor change as far as the code-level
changes are concerned but has much farther reaching implications. These
changes currently reside in the [unicode branch](http://github.com/rtyler/cheetah/tree/unicode)

- Moving internal representation of source inside the compiler/parser 
to unicode() objects instead of a potential mix of str() and unicode() 
objects
- Modify the implications of the <code>\#encoding</code> directive to determine
the encoding to use when writing out the generated Python module


Cheetah v2.3
------------
*Still in planning*

Planned for the third "major" release of Community Cheetah is an internal reworking
of the Cheetah compiler/parser/template code and the resulting Python they generate.

- Analyze runtime performance of template execution 
- Update internal objects to "new-style" objects to prepare for moving towards Python 3000
- "Modernize" other aspects of Cheetah infrastructure


Cheetah v3.0
------------
*Still in planning*

- Upgrade Cheetah to be fully Python 2.xx and 3.xx compatible 

#end def
