#from Cheetah.Filters import Markdown
#from Cheetah.Template import Template
#extends Template
#transform Markdown
#implements respond

<html>
<head>
<title>Community Cheetah Wiki - $pagename()</title>
</head>
<body>

$header()

$content()

$footer()


</body></html>

#def pagename()
	#return "WikiRoot"
#end def

#def header()
	#return ''
#end def

#def footer()
	#return ''
#end def

#def content()
	#return ''
#end def
