#from Cheetah.Template import Template
#extends Template
#implements respond

#attr PathPrefix = ''

## (Name, Link, IsTab)
#set global $Pages = [
                        ('Home', 'index.html', True), 
                        ('Download', 'download.html', True),
                        ('Documentation', 'docs.html', True),
                        ('Recipes', 'recipes.html', True),
                        ('Community', 'community.html', True),
                        ('Developers', 'developers.html', True),
                        ('Issues', 'http://bugs.communitycheetah.org', False),
                        ('Source', 'http://github.com/rtyler/cheetah/tree/master', False),
                        ('Roadmap', 'roadmap.html', False),
                        ]

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Community Cheetah - The Python-Powered Template Engine - $pagename()</title>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="keywords" content="cheetah, template engine, python, community cheetah, templating, markdown, markup, mod_python, webware"/>
        <meta name="googlebot" content="index, follow" />
        <meta name="language" content="en-us, english" />
    </head>
    <body>
        $css()

        $header()

        #if $leftsidebar()
            <div id="leftcontent">
                <img style="margin-top:-9px; margin-left:-12px;" src="${PathPrefix}images/top2.jpg" alt="" />

                $leftsidebar()

                <img style="padding-top:2px; margin-left:-12px; margin-bottom:-4px;" src="${PathPrefix}images/specs_bottom.jpg" alt="" />
            </div>
        #end if

        <div id="centercontent">
           $content()
        </div>

        <div id="rightcontent">
            <img style="margin-top:-9px; margin-left: -5px;" src="${PathPrefix}images/top2.jpg" alt="" />
            
            $rightsidebar()

            <img style="padding-top:5px; margin-left:-5px; margin-bottom:-4px;" src="${PathPrefix}images/specs_bottom.jpg" alt="" />
        </div>

        <br clear="all"/>
        <br/>

        $footer()

        <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
        <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/cheetahtemplate.json?callback=twitterCallback2&count=5"></script> 
	</body>
</html>

#def pagename()
	#return "WikiRoot"
#end def

#def leftsidebar()
    #return ''
#end def

#def rightsidebar()
    <div id="twitter_div">
        <h2 class="sidebar-title">Twitter Updates</h2>
        <ul id="twitter_update_list"></ul>

        <a href="http://twitter.com/cheetahtemplate" id="twitter-link" style="display:block;text-align:right;">follow Cheetah on Twitter</a>
    </div>
#end def

#def header()
<a href="http://github.com/rtyler/cheetah">
    <img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" />
</a>
    <div id="blogtitle">
            <div id="small" style="margin-left: 130px;"><a href="#">Community Cheetah</a> </div>
            <div id="small2">
                #for $Name, $Link, $IsTab in $Pages
                    #if $IsTab and not $Name == 'Home'
                        #continue
                    #end if
                    <a href="${PathPrefix}${Link}">$Name</a>&nbsp;|&nbsp;
                #end for
            </div>
    </div>
            
    <div id="topmenu">
        <ul class="BLUE">
            #for $Name, $Link, $IsTab in $Pages
                #if not $IsTab
                    #continue
                #end if
                <li>
                    <a href="${PathPrefix}${Link}" title="${Name}">
                        <span>$Name</span>
                    </a>
                </li>
            #end for
        </ul>
    </div>
#end def

#def footer()
    <a href="http://www.python.org" target="_blank"><img src="${PathPrefix}images/python-logo.gif" border="0" alt="Python-powered" title="Python-powered" align="right"/></a>
    <br clear="all"/>
    <br/>
    <div id="footer">
        &copy; 2006 Design by <a href="http://www.studio7designs.com">Studio7designs.com</a>
#*

    <!-- start left boxes -->

        <div class="centercontentleftb">
            <div class="centercontentleftimg">Sample Box for Products</div>
                <div class="centercontentrightimg">Sample Box for Products</div>
        </div> 
        
        <!-- endleft boxes -->
        
        <!-- start right boxes -->			
                
        <div class="centercontentrightb">
                <div class="centercontentleftimg">Sample Box for Products</div>
            <div class="centercontentrightimg">Sample Box for Products</div>
        </div>
        
            <!-- end right boxes -->

    <!-- end bottom boxes -->
*#
    </div>
#end def

#def _css()
	#include raw "./stylesheet.css"
#end def

#def css()
    <style type="text/css">
    <!--
        $_css().replace('images', '%simages' % ($PathPrefix))
    -->
    </style>
#end def

#def content()
	#return ''
#end def
