#from Cheetah.Filters import Markdown

#import WikiRoot
#extends WikiRoot.WikiRoot

#attr PathPrefix = '../../'

#def pagename()
    #return 'Inheritance in Cheetah'
#end def

#def content()
#transform Markdown
Inheritance in Cheetah
===============

#end def
